*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(0deg, #48545Bff, #181C1Fff 75%) ;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-navigation{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
    background-color: rgb(18, 22, 24);

}

.heading{
    font-size: 2rem;
    font-weight: bold;
}

.main-logo{
    margin-left: 13px;
}


.nav-search{
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 40%;
}

.nav-search input{
    width: 29rem;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    background-color: #181C1Fff;
    border: none;
    
}

.nav-search .searchLogo{
    /* background-color: #181C1Fff; */
    padding: 10px;
    /* border-radius: 20px 0px 0px 20px; */
    margin-right: -10px;
}

.nav-search input:focus{
border: white;
}

.nav-menu{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.nav-menu button{
    background:#48545Bff;
    border: none;
    color: white;
    padding:4px;
    font-size: 15px;

}

.nav-menu .getApp-btn{
    border: none;
    padding:10px;
    color: white;
    height:2.5rem;
    border-radius: 20px;
    background:#48545Bff;
    display: flex;
    gap: 5px;

}

.nav-menu .logIn-btn{
    background-color: #d93900;
    padding: 10px;
    border-radius: 20px;
}

/* responsive design */
/* svg make their color white */

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

}

.first-ele{
    display: flex;
    gap: 10px;
    align-items: center;
}

.imp-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.sec-ele{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-content{
    display: flex;
    position:relative;
    overflow: hidden;
}

.top-news{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 290px));
    gap: 10px;

    width: 100%;
    position: absolute;
    top:30px;
    left: 250px;
    min-width: 80%;

}

.right-sidebar{
    /* display: flex; */
    position: absolute;
    top:300px;
    right: 50px;
    width: 18rem;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(18, 22, 24);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-sidebar ul {
    list-style-type: none;
}

.right-sidebar ul li{
    padding: 10px;
}

.content-space{
    position: absolute;
    padding: 20px;
    /* top:100px;   */
    /* bottom: 600px; */
    left: 15rem;
    top: 10rem;
    background-color: rgb(18, 22, 24);
    width: 800px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin: 3rem auto ;
}
.content-space .btn-sec{
    display: flex;
    gap: 10px;
    align-items: center;
  
}
.content-space .btn-sec button{
   background-color: dodgerblue;
   padding: 7px;
   border: none;
   border-radius: 20px;
   color: white;
   width: 50px;
}

.post-top-section{
    display: flex;
    gap: 16rem;
}

.post-mid-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer{
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: gray;
}
